Ji/Ji.Android/Web References/JI_WS_connect/connect.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://svod-int/ji/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://svod-int/ji/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://svod-int/ji/">
      <s:element name="Vers">
        <s:complexType />
      </s:element>
      <s:element name="VersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cmd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cmd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CmdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersSoapIn">
    <wsdl:part name="parameters" element="tns:Vers" />
  </wsdl:message>
  <wsdl:message name="VersSoapOut">
    <wsdl:part name="parameters" element="tns:VersResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CmdSoapIn">
    <wsdl:part name="parameters" element="tns:Cmd" />
  </wsdl:message>
  <wsdl:message name="CmdSoapOut">
    <wsdl:part name="parameters" element="tns:CmdResponse" />
  </wsdl:message>
  <wsdl:portType name="connectSoap">
    <wsdl:operation name="Vers">
      <wsdl:input message="tns:VersSoapIn" />
      <wsdl:output message="tns:VersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cmd">
      <wsdl:input message="tns:CmdSoapIn" />
      <wsdl:output message="tns:CmdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="connectSoap" type="tns:connectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Vers">
      <soap:operation soapAction="http://svod-int/ji/Vers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://svod-int/ji/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cmd">
      <soap:operation soapAction="http://svod-int/ji/Cmd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="connectSoap12" type="tns:connectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Vers">
      <soap12:operation soapAction="http://svod-int/ji/Vers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://svod-int/ji/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cmd">
      <soap12:operation soapAction="http://svod-int/ji/Cmd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="connect">
    <wsdl:port name="connectSoap" binding="tns:connectSoap">
      <soap:address location="http://localhost:53847/connect.asmx" />
    </wsdl:port>
    <wsdl:port name="connectSoap12" binding="tns:connectSoap12">
      <soap12:address location="http://localhost:53847/connect.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>